<h2 mat-dialog-title>nuevo Modal de educacion</h2>

<mat-dialog-content>
  <form
    [formGroup]="educacionform"
    (ngSubmit)="onSubmitEducacion()"
    class="datos-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Establecimiento</mat-label>
      <input formControlName="establecimiento" matInput />
      <mat-error *ngIf="errorEstablecimiento?.invalid"
        >Complete required field</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Especialidad</mat-label>
      <input formControlName="especialidad" matInput />
      <mat-error *ngIf="errorEspecialidad?.invalid"
        >Complete required field</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>año</mat-label>
      <input formControlName="year" matInput />
      <mat-error *ngIf="errorYear?.invalid">Complete required field</mat-error>
    </mat-form-field>

    <mat-dialog-actions class="flex justify-between">
      <button mat-raised-button mat-dialog-close color="primary">Close</button>
      <button
        [disabled]="educacionform.invalid"
        type="submit"
        mat-raised-button
        mat-dialog-close
        color="accent">
        Enviar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
