<h2 mat-dialog-title>nuevo Modal de educacion</h2>

<mat-dialog-content>
  <form
    [formGroup]="educacionform"
    (ngSubmit)="onSubmitEducacion()"
    class="datos-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Establecimiento</mat-label>
      <input
        formControlName="establecimiento"
        [ngModel]="data.establecimiento"
        matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Especialidad</mat-label>
      <input
        formControlName="especialidad"
        [ngModel]="data.especialidad"
        matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>año</mat-label>
      <input formControlName="year" [ngModel]="data.year" matInput />
    </mat-form-field>

    <mat-dialog-actions class="float-end">
      <button type="submit" mat-raised-button mat-dialog-close>Enviar</button>
      <button mat-raised-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
