@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@import '../../../styles/variables';

.swiper {
  width: 90%;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: -2.5rem;
}

.swiper-pagination {
  padding-top: 55px;
}

.swiper-pagination-bullet {
  background-color: $primary-color;
}

// .swiper-slide {
//   display: flex;
//   flex-direction: column;
// }

//   /* Center slide text vertically */
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   -webkit-justify-content: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   -webkit-align-items: center;
//   align-items: center;
// }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

h2 {
  font-family: $poppins;
  font-weight: 600;
}

p {
  color: $secondary-color;
  //   font-family: $poppins;
  //   font-weight: 400;
}

button {
  font-family: $poppins;
}

figure {
  overflow: initial;
}
