<section class="w-full mb-12 sm:mb-28">
  <div class="relative flex justify-center">
    <h2 class="text-2xl mb-4 col-span-11 mx-auto">Portfolio</h2>
    <span
      (click)="openDialog()"
      class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center absolute right-4"
      role="button">
      <i class="fa-solid fa-plus text-white text-center"></i>
    </span>
  </div>

  <swiper [config]="swiperConfig" class="h-[400px] sm:h-[250px]">
    <ng-template
      *ngFor="let portfolio of prueba; let myIndex = index"
      class="h-full"
      swiperSlide>
      <div
        class="grid grid-cols-1 gap-8 sm:grid-cols-2 sm:mx-auto sm:max-w-2xl">
        <figure class="mx-auto lg:ml-auto">
          <img
            alt=""
            class="max-w-[265px] max-h-[265px] rounded-2xl md:max-w-[400px] md:max-h-[400px]"
            src="{{ portfolio.img }}" />
        </figure>

        <div
          class="flex flex-col justify-center p-2 gap-2 md:basis-1/2 md:flex md:flex-col md:gap-4">
          <h2 class="text-lg">{{ portfolio.titulo }}</h2>
          <p class="text-sm">{{ portfolio.descripcion }}</p>
          <div class="flex justify-between">
            <button
              class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-lg text-white max-w-fit">
              Demo
            </button>
            <div class="flex gap-2 items-center">
              <span
                (click)="edit(portfolio)"
                class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center"
                role="button">
                <i class="bi bi-pencil text-white" style="font-size: 1rem"></i>
              </span>
              <span
                (click)="delete(portfolio)"
                class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center"
                role="button">
                <i class="bi bi-trash text-white" style="font-size: 1rem"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</section>
