<section class="w-full h-screen py-4">


  <h2 class="text-2xl text-center">Portfolio</h2>
  <p class="text-center mb-14">Most recent works</p>


  <swiper [config]="swiperConfig" class="">


    <ng-template *ngFor="let portfolio of portfolios, let myIndex=index;" swiperSlide>


      <div class="h-full space-y-4 px-5">

        <figure class="w-full rounded-2xl overflow-hidden mx-auto">
          <img alt="" class="" src="{{portfolio.img}}">
        </figure>

        <h2 class="">{{portfolio.title}}</h2>

        <p class="">{{portfolio.description}}</p>

        <!--<div class="flex gap-2">
          <div class="badge badge-sm">Html</div>
          <div class="badge badge-sm">CSS</div>
          <div class="badge badge-sm">javascript</div>
        </div>-->

        <div class="flex gap-2 justify-between">

          <div class="flex gap-2 ">

            <button class=""><i class=" bi bi-pencil"></i></button>
            <button class=""><i class="bi bi-trash"></i></button>

          </div>

          <div class="flex gap-2">

            <button class="btn btn-primary btn-xs">Live</button>
            <button class="btn btn-primary btn-xs">github</button>

          </div>
        </div>
      </div>


    </ng-template>


  </swiper>


</section>
