<main class="min-h-screen w-full">
  <h2 class="text-2xl text-center">About me</h2>
  <p class="text-center mb-10">Some introduction</p>

  <div class="about__container grid grid-cols-1 mx-4 gap-6">
    <img
      class="w-[200px] h-auto rounded-2xl mx-auto object-cover"
      src="../../../assets/images/aboutme.jpg"
      alt="" />
    <div class="about__info">
      <p class="mb-4">
        Desarrollador web con experiencia en backend y frontend y tecnologias de
        diseño y publicidad.
      </p>
      <div class="flex justify-center">
        <button
          class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-lg text-white max-w-fit">
          Donwload CV <i class="fa-solid fa-download"></i>
        </button>
      </div>
    </div>
  </div>
</main>
