@import '../../../styles/variables';

h1 {
  color: $global-color;

  span {
    font-weight: 700;
    color: $primary-color;
  }
}

p {
  color: $secondary-color;

  span {
    color: $primary-color;
  }

  .cursive {
    font-family: $nanum-font;
    color: $tertiary-color;
  }
}
