<article
  class="min-h-fit mb-16 sm:min-h-screen pt-16 px-4 sm:grid sm:grid-cols-2 sm:grid-rows-1 sm:px-14">

  <div class="mt-4 gap-6 sm:mt-32 flex flex-col">
    <h1 class="text-left text-3xl">
      Hello! i'm <span>{{ textoInfoPersonal[0].nombreyapellido }}</span
    >.<br/>👋
    </h1>

    <p class="text-xl text-left">
      A multidisciplinary <span>{{ textoInfoPersonal[0].puesto }}</span> and
      <span>designer </span> <span class="cursive">(sometimes)</span> from
      <span>{{ textoInfoPersonal[0].ubicacion }}</span> with a passion for
      creating engaging, entertaining user experiences.<br/>✨
    </p>
  </div>


  <div class="flex justify-center mt-4 sm:mt-32 md:justify-end md:pr-24">
    <img
      alt=""
      class="w-48 h-48 rounded-full shadow-xl"
      src="../../../assets/images/avatar.png"/>
    <span
      (click)="openDialog()"
      *ngIf="isLoggedIn"
      class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center"
      role="button">
      <i class="fa-solid fa-plus text-white text-center"></i>
    </span>
  </div>

</article>

