<h2 mat-dialog-title>nuevo Formulario Datos Personales</h2>
<mat-dialog-content>
  <form
    [formGroup]="infopersonalform"
    (ngSubmit)="onSubmitDatos()"
    class="datos-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Nombres y Apellido</mat-label>
      <input formControlName="nombreyapellido" matInput value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Puesto</mat-label>
      <input formControlName="puesto" matInput value="" />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Ubicacion</mat-label>
      <input formControlName="ubicacion" matInput value="" />
    </mat-form-field>

    <mat-dialog-actions class="flex justify-between">
      <button
        class="bg-[#e96269] p-2 flex justify-self-center self-center"
        type="submit"
        mat-raised-button
        mat-dialog-close>
        Enviar
      </button>
      <button class="" mat-raised-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
