<h2 mat-dialog-title>Edit portfolio</h2>

<mat-dialog-content class="h-full">
  <form
    (ngSubmit)="onSubmitProyects()"
    [formGroup]="proyectsform"
    class="datos-form">
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Imagen</mat-label>
      <input formControlName="img" matInput />
      <mat-error *ngIf="errorImg?.invalid"
        >Complete el campo requerido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Titulo</mat-label>
      <input formControlName="titulo" matInput />
      <mat-error *ngIf="errorTitulo?.invalid"
        >Complete el campo requerido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <textarea
        cols="30"
        formControlName="descripcion"
        matInput
        rows="5"></textarea>
      <mat-error *ngIf="errorDescripcion?.invalid"
        >Complete el campo requerido</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Link</mat-label>
      <input formControlName="link" matInput />
      <mat-error *ngIf="errorLink?.invalid"
        >Complete el campo requerido</mat-error
      >
    </mat-form-field>
    <mat-dialog-actions class="flex justify-between">
      <button mat-dialog-close mat-raised-button color="primary">Close</button>
      <button
        [disabled]="proyectsform.invalid"
        mat-dialog-close
        mat-raised-button
        color="accent"
        type="submit">
        Enviar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
