<h2 mat-dialog-title>nuevo Modal de Proyectos</h2>

<mat-dialog-content>
  <form
    [formGroup]="proyectsform"
    (ngSubmit)="onSubmitProyects()"
    class="datos-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Titulo</mat-label>
      <input formControlName="titulo" [ngModel]="data.titulo" matInput />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Descripcion</mat-label>
      <textarea
        matInput
        formControlName="descripcion"
        [ngModel]="data.descripcion"
        cols="30"
        rows="10"></textarea>
    </mat-form-field>

    <mat-dialog-actions class="float-end">
      <button type="submit" mat-raised-button mat-dialog-close>Enviar</button>
      <button mat-raised-button mat-dialog-close>Close</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
