<h2 mat-dialog-title>nuevo Modal de Proyectos</h2>

<mat-dialog-content>
  <form
    (ngSubmit)="onSubmitProyects()"
    [formGroup]="proyectsform"
    class="datos-form">

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Imagen</mat-label>
      <input [ngModel]="data.img" formControlName="img" matInput/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Titulo</mat-label>
      <input [ngModel]="data.titulo" formControlName="titulo" matInput/>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Descripcion</mat-label>
      <textarea
        [ngModel]="data.descripcion"
        cols="30"
        formControlName="descripcion"
        matInput
        rows="10"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Link</mat-label>
      <input [ngModel]="data.link" formControlName="link" matInput/>
    </mat-form-field>

    <mat-dialog-actions class="float-end">
      <button mat-dialog-close mat-raised-button type="submit">Enviar</button>
      <button mat-dialog-close mat-raised-button>Close</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
