<h2 mat-dialog-title>Skills form</h2>

<mat-dialog-content>
  <form
    [formGroup]="skillsform"
    (ngSubmit)="onSubmitSkills()"
    class="datos-form">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>titulo</mat-label>
      <input formControlName="titulo" matInput />
      <mat-error *ngIf="errorTitulo?.invalid"
        >Complete required field</mat-error
      >
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>color</mat-label>
      <mat-select formControlName="color">
        <mat-option *ngFor="let color of colors" [value]="color.value">{{
          color.value
        }}</mat-option>
      </mat-select>
      <mat-error *ngIf="errorColor?.invalid">Complete required field</mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>valor</mat-label>
      <input formControlName="value" matInput />
      <mat-error
        *ngIf="
          errorValue?.invalid && (errorValue?.dirty || errorValue?.touched)
        ">
        <mat-error *ngIf="errorValue?.errors?.['maxlength']"
          >Max character 2</mat-error
        >
        <mat-error *ngIf="errorValue?.errors?.['required']"
          >Complete required field</mat-error
        >
      </mat-error>
    </mat-form-field>

    <mat-dialog-actions class="flex justify-between">
      <button mat-raised-button mat-dialog-close color="primary">Close</button>
      <button
        [disabled]="skillsform.invalid"
        type="submit"
        mat-raised-button
        mat-dialog-close
        color="accent">
        Enviar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
