<div class="min-h-screen">
  <div class="flex gap-4 justify-center">
    <button
      (click)="showEducation()"
      class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-lg text-white max-w-fit">
      educacion
    </button>
    <button
      (click)="showExperience()"
      class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-lg text-white max-w-fit">
      experiencia
    </button>
  </div>

  <div *ngIf="mostrarEducacion">EDUCACION</div>
  <div *ngIf="mostrarExperiencia">EXPERIENCIA</div>
</div>
