<div class="mt-8 relative lg:mx-52">
  <span
    (click)="openDialog()"
    class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center absolute right-4"
    role="button">
    <i class="fa-solid fa-plus text-white text-center"></i>
  </span>
  <div *ngFor="let dato of prueba; let even = even">
    <div class="mx-4 grid grid-cols-[2fr_25px_2fr]">
      <span>
        <div *ngIf="even === true" class="flex justify-between">
          <div class="w-full">
            <div class="text-left flex flex-col gap-1">
              <h2 class="text-[15px] sm:text-xl font-bold">
                {{ dato.establecimiento }}
              </h2>
              <p class="text-[13px] sm:text-lg">{{ dato.especialidad }}</p>
              <div class="flex gap-2">
                <i class="fa-solid fa-calendar-days"></i>
                <p class="text-[13px] sm:text-sm">{{ dato.year }}</p>
              </div>
              <div *ngIf="isLoggedIn" class="flex justify-between">
                <span
                  (click)="edit(dato)"
                  role="button"
                  class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center">
                  <i
                    class="bi bi-pencil text-white"
                    style="font-size: 1rem"></i>
                </span>
                <span
                  (click)="delete(dato)"
                  role="button"
                  class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center">
                  <i class="bi bi-trash text-white" style="font-size: 1rem"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </span>
      <div class="central__box flex flex-col items-center">
        <span
          class="inline-block h-[10px] w-[10px] rounded-full bg-[#e96269]"></span>
        <span class="h-full border-[1px] border-[#e96269]"></span>
      </div>
      <span>
        <div *ngIf="even === false" class="flex">
          <div class="w-full">
            <div class="text-right flex flex-col gap-1">
              <h2 class="text-[15px] sm:text-xl font-bold">
                {{ dato.establecimiento }}
              </h2>
              <p class="text-[13px] sm:text-lg">{{ dato.especialidad }}</p>
              <div class="flex flex-row-reverse gap-2">
                <i class="fa-solid fa-calendar-days"></i>
                <p class="text-[13px] sm:text-sm">{{ dato.year }}</p>
              </div>
              <div *ngIf="isLoggedIn" class="flex justify-between">
                <span
                  (click)="edit(dato)"
                  role="button"
                  class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center">
                  <i
                    class="bi bi-pencil text-white"
                    style="font-size: 1rem"></i>
                </span>
                <span
                  (click)="delete(dato)"
                  role="button"
                  class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center">
                  <i class="bi bi-trash text-white" style="font-size: 1rem"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
  </div>
</div>
