<div class="min-h-screen mx-4">
  <h2 class="text-2xl text-center">Skills</h2>

  <span (click)="openDialog()" class="float-end overflow-hidden" role="button">
    <i class="bi bi-plus-circle"></i>
  </span>

  <li *ngFor="let prueba of pruebas">
    <div class="col d-flex justify-content-center">
      <div>
        <h5 class="text-center">{{ prueba.titulo }}</h5>
        <mat-progress-spinner
          [color]="prueba.color"
          [value]="prueba.value"
          aria-label="Rating">
        </mat-progress-spinner>
        <span style="position: relative; top: -60px; left: 35px">
          {{ prueba.value }}%
        </span>
        <div class="d-flex justify-content-between">
          <span
            (click)="edit(prueba)"
            *ngIf="isLoggedIn"
            class="mb-2"
            role="button">
            <i class="bi bi-pencil" style="font-size: 1rem"></i>
          </span>
          <span
            (click)="delete(prueba)"
            *ngIf="isLoggedIn"
            class="mb-2"
            role="button">
            <i class="bi bi-trash" style="font-size: 1rem"></i>
          </span>
        </div>
      </div>
    </div>
  </li>
</div>
