<div class="min-h-fit px-2 mt-24 lg:pt-32 lg:px-72">
  <div class="grid grid-cols-3 mb-12 sm:mb-20">
    <h2 class="text-2xl sm:text-4xl font-medium text-center col-start-2">
      Skills
    </h2>
    <span
      *ngIf="isLoggedIn"
      (click)="openDialog()"
      class="bg-[#e96269] hover:bg-[#e72f36] p-2 rounded-full h-6 w-6 flex justify-center items-center place-self-center"
      role="button">
      <i class="fa-solid fa-plus text-white text-center"></i>
    </span>
  </div>

  <div class="flex flex-wrap justify-center gap-10">
    <li *ngFor="let prueba of pruebas" class="list-none">
      <div class="flex flex-col rounded-xl shadow-lg p-2">
        <h5 class="text-center mb-2 border-b-2">{{ prueba.titulo }}</h5>
        <mat-progress-spinner
          class=""
          [color]="prueba.color"
          [value]="prueba.value"
          aria-label="Rating">
        </mat-progress-spinner>
        <span style="position: relative; top: -60px; left: 35px">
          {{ prueba.value }}%
        </span>
        <div *ngIf="isLoggedIn" class="flex justify-between">
          <span (click)="edit(prueba)" class="mb-2" role="button">
            <i class="bi bi-pencil" style="font-size: 1rem"></i>
          </span>
          <span (click)="delete(prueba)" class="mb-2" role="button">
            <i class="bi bi-trash" style="font-size: 1rem"></i>
          </span>
        </div>
      </div>
    </li>
  </div>
</div>
