@import '/src/styles/_variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: $poppins;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $karla-font, 'Helvetica Neue', sans-serif;
  color: $secondary-color;
}

h1,
h2,
h3,
h4 {
  color: $global-color;
}

h2 {
  font-size: $h1-font-size;
}
