<div class="min-h-screen mx-8">
  <h2 class="text-4xl font-medium text-center mb-4">Experiencia</h2>
  <div class="flex gap-4 justify-center">
    <button (click)="show()" class="hover:text-[#e72f36] max-w-fit">
      Educacion <i class="fa-solid fa-graduation-cap"></i>
    </button>

    <button (click)="show()" class="hover:text-[#e72f36] max-w-fit">
      Experiencia <i class="fa-solid fa-briefcase"></i>
    </button>
  </div>

  <app-education *ngIf="mostrar === true"></app-education>
  <app-experience *ngIf="mostrar === false"></app-experience>
</div>
